.login-form
{
    padding-top: 50px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}
#username-input
{
    padding-top: 5px;
}
#password-input
{
    padding-top: 5px;
}
#submit-button
{
    margin-top: 12px;
    font-size: 20px;
}
#submit-button:hover
{
    background-color: aqua;
}

.wrong-credentials
{
    color: red;
    background-color: #FFE3EE;
    text-transform: initial;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    border: 1px solid red;
    border-radius: 10px;
    display: none;
}